head {
    background: blue;
    color: green;
    background-size: auto;
}
body {
    font-size: 1em;
    background-image: url("thestump.jpg");
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top;
    color: crimson
}
foot {
    position: absolute;
    height: auto;
    width: inherit;
    background: red;
    color: rebeccapurple;
}
p {
    border-style: solid;
    border-width: medium;
    border-color: rebeccapurple;
}
