head {
    background: blue;
    color: green;
    background-size: auto;
}
body {
    font-size: medium;
    font-family: monospace;
    font-style: normal;
    background-image: url("thestump.jpg");
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right;
    color: crimson
}
footer {
    position: absolute;
    height: auto;
    width: inherit;
    background: red;
    color: rebeccapurple;
}
footer .block {
    font-size: 1em;
    border-style: solid;
    border-width: medium;
    border-color: rebeccapurple;
}
. div1 {
    background: url("background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
