head {
    background: blue;
    color: green;
    background-size: auto;
}
body {
    background-image: url("background1.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    border-bottom: 00px;
    border-bottom-color: 10px solid darkblue;
    border-bottom: 15px;
    color: crimson
}
foot {
    position: absolute;
    height: 50px;
    width: 100%;
    background: red;
    color: rebeccapurple;
    margin: 0px;
}
h2 {
    border-style: solid;
    border-bottom: solid  #ff0000;
}
